 /**Css asociados a la estructura paginas  basadas en  tres columnas*/
 .form-container {	
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-column-gap: 10px;
 }
 
 .form-left-container {
 
     grid-column: 1;
 }
 
 
 .form-right-container{
 
     grid-column:3;
 }

 .form-central-container{
 
    grid-column:2;
}




 .form-right-container-on-right{
    grid-column: 3;
    justify-self: end;
}



 .form-one-container  {
    grid-column-start: 1;
    grid-column-end: 3;
 }
